
.before-btn{
    border-radius: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 70px;
    top: 210px;
    padding: 5px;
    outline-style: none;
}
.before-btn img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.after-btn{
    border-radius: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 210px;
    padding: 5px;
    outline-style: none;
}
.after-btn img{
    width: 35px;
    height:35px;
    border-radius: 50%;
}
.card{
    display: grid;
    grid-template-columns: 262px;
    grid-template-rows: 250px 150px 60px;
    grid-template-areas: "image" "text" "stats";
    font-family: "Times new roman";
    background: white;
    box-shadow: 5px 5px 10px  rgba(0, 0,0,0.9),-5px -5px 10px  rgba(0, 0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    margin:10px;

}
.card-image{
    grid-area:image;
    width: 260px;
    height: 260px;
    /* background:url("rasm\ qiz\ \ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
.card-text{
    grid-area: text;
    margin:25px;
}
.card-text .date{
    color:rgb(255,7,110);
    font-size: 13pt;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
.card-text p {
    color:grey;
    font-size: 15px;
    font-weight:300;
}
.card-text h2{
    margin-top:0px;
    font-size: 28px;
}
.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(255,7,110);
}
.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.card-stats .type{
    font-size: 11px;
    font-weight: 500px;
}

.card-stats .border{
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 7px 7px 20px rgb(0,0,0,0.6);
}