<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Places.css">
</head>
<body>

<div className="content-wrapper">
    <div className="portfolio-items-wrapper">

        <div className="portfolio-item-wrapper">
            <div className="portfolio-img-background"
                 style="background-image:url()" ></div>

            <div className="img-text-wrapper">
                <div className="logo-wrapper">
                    <img src={logo}/>
                </div>
                <div className="subtitle">
                  Ab accusantium amet cumque distinctio
                </div>
            </div>
        </div>


    </div>
</div>


</body>
</html>