* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card2-e h1{
    color: white;
    font-family: Arial Regular;
    letter-spacing: 2pt;
    padding-top: 30px;
    padding-left: 200px;
}

.git-card-e{
    padding: 10px;
}
table tr {
    line-height: 2;
    color: black;
    text-align: justify;
    font-family: "Arial Regular";
}

.card-guide-e{
    text-align: center;
    height: 40vh;
    background-color: #E7E7E7;
}
.card1-e{
    height: 60vh;
    background-color: #0FB47C;
}
.card2-e{
    background-color: white;
    display: inline-flex;
    margin-top: -180px;

}
.img-guide-e img{
    width: 400px;
    height: 25vw;
}
.greet-e{
    background-color:#0FB47C;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 10px 10px 10px 0;
}
audio {
    height: 30px;
    outline: none;
    padding-top: 10px;
}
.icon-e{
    margin-left: 900px;
    margin-top: -80px;
}
.srt-e {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}
.info-e{
    padding-left: 20px;
    background-color: white;
}
