body{

  background-color: white;

}

.wrap{
  width: 100%;
}

.menu {
  background-color: #0A264D;
  display: flex;
  border: 5px;
  padding: 10px;
}
.menu .logo {
  width: 20%;
}

.logoActive{
  height: 48px;
  margin-left: 97px;
}


.menu ul {
  margin-left:2%;

}

.menu ul li {
  display: inline-block;
  padding: 18px 16px;
  border: 1px solid transparent;
}

.menu ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul li a:active{
  color: #C2752E;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: none;

}

.active{
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid white;

}

.menu ul li:hover {
  border-bottom: 1px solid white;
  transition: all 0.3s ease 0s;

}
.buttones{
  margin-left: 8%;
  display: flex;

}

.buttones .one{
  color: white;
  border: 2px solid royalblue;
  padding: 5px;
  border-radius: 25px;
  margin-top: 8px;
  height: 25px;

}
.buttones .two{
  color: white;
  border: 2px solid royalblue;
  padding: 5px;
  border-radius: 25px;
  margin-top: 8px;
  height: 25px;

}

.buttones .two:hover{
  border: 2px solid royalblue;
  color: #C2752E ;
  border-bottom: 1px solid royalblue;

}
.buttones .one:hover{
  border: 2px solid royalblue;
  color: #C2752E;
  border-bottom: 1px solid royalblue;

}



