*{
    margin: 0px;
    padding: 0px;
    border-style: border-box;

}
body
{
    background-color: rgba(104, 95, 223, 0.1);
}


/* ---------------Testimonial section------------------------ */
.testimonial
{
    width: 80%;
    margin: 5em auto;
}
.testimonial h1
{
    text-align: center;
}
.comments
{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.comment-item
{
    text-align: center;
}
.comment-item img
{
    border-radius: 50%;
}

/* ---------------Footer section ----------------------*/
.footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}
.footer ul{
    list-style: none;
    margin-bottom: 3em;
}
.footer ul li{
    margin-top: 10px;
}
.footer i{
    color: #fff;
}
.footer-menus
{
    width: 80vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer label{
    font-size: 15px;;
}
.footer input
{
    margin-top: 2em;;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255,255, 255,0.5);
    color: #fff;;
}

.copyright
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 80vw;
    margin: 1.5em auto;
}
.copyright i{
    font-size: 20px;;
    margin-left: 1em;
}


/*   Media queery */

@media only screen and (max-width: 1199px )
{

    .visit-cards
    {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;

    }
    .blog-post-cards
    {
        width: 70;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }


    h1{
        font-weight: normal;
        font-size: 2.5em;
    }
    .most-title
    {
        width: 70%;

    }

    .blog-post
    {
        width: 70%;
    }

    .most-title-img img{
        width: 70%;
    }
}

@media only screen and (max-width: 992px ){
    .visit-cards
    {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
    }
    .blog-post-cards
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
}

@media only screen and (max-width: 767px ){

    .visit-cards
    {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;

    }
    .comments
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer-menus
    {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

    }

    .copyright
    {
        grid-template-columns: 3fr 1fr;

    }

}


@media only screen and (max-width: 660px ){
    h1{
        font-weight: normal;
        font-size: 2em;
    }
    .most-title
    {
        width: 80%;

    }

    .blog-post
    {
        width: 80%;
    }

    .most-title-img img{
        width: 80%;
    }

    .blog-post-cards
    {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
    .visit-cards
    {
        grid-template-columns: 1fr ;
        grid-auto-rows: 1fr 1fr 1fr 1fr;

    }

    .comments
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .footer-menus
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .copyright
    {
        grid-template-columns: 2fr 1fr;



    }
}

@media only screen and (max-width: 500px ){
    .footer-menus
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .copyright
    {
        grid-template-columns: 1fr;
        text-align: center;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;;
    }
    .banner
    {
        height: 75vh;
    }
    .banner-content
    {
        height: 67vh;
    }
}